<a href="https://colab.research.google.com/github/aigOffline/my_big_data_cheatsheet/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

data = {'stop_date': ['2021-02-01', '2021-03-01', '', '2021-05-01', '2021-06-01'],
        'aua': [1000, 2000, 3000, 4000, 5000],
        'basis_points': [0.05, 0.02, 0.03, 0.01, 0.015]}
df = pd.DataFrame(data)
# Create a date range DataFrame
date_range = pd.DataFrame({'date': pd.date_range(start='2021-01-01', end='2022-12-01')})

# Create a DataFrame to store the results
results = pd.DataFrame(columns=['month', 'aua_basis_points'])

# Iterate over each row of the original DataFrame
for i, row in df.iterrows():
    if row['stop_date'] == '':
        stop_date = '2022-12-01'
    else:
        stop_date = row['stop_date']
    start_date = '2021-01-01'
    # Get the start and end date of each month between start_date and stop_date
    month_range = pd.date_range(start=start_date, end=stop_date, freq='MS')
    for month_start, month_end in zip(month_range, month_range + pd.offsets.MonthEnd()):
        # Create a mask that matches the dates between the start and end of each month
        mask = (month_start <= date_range['date']) & (date_range['date'] <= month_end)
        # Multiply the 'aua' and 'basis_points' of the original DataFrame and assign the result to the 'aua_basis_points' column
        aua_basis_points = row['aua'] * row['basis_points']
        # Append the results to the results DataFrame
        results = results.append({'month': month_start, 'aua_basis_points': aua_basis_points}, ignore_index=True)
results

        month  aua_basis_points
0  2021-01-01              50.0
1  2021-02-01              50.0
2  2021-01-01              40.0
3  2021-02-01              40.0
4  2021-03-01              40.0
5  2021-01-01              90.0
6  2021-02-01              90.0
7  2021-03-01              90.0
8  2021-04-01              90.0
9  2021-05-01              90.0
10 2021-06-01              90.0
11 2021-07-01              90.0
12 2021-08-01              90.0
13 2021-09-01              90.0
14 2021-10-01              90.0
15 2021-11-01              90.0
16 2021-12-01              90.0
17 2022-01-01              90.0
18 2022-02-01              90.0
19 2022-03-01              90.0
20 2022-04-01              90.0
21 2022-05-01              90.0
22 2022-06-01              90.0
23 2022-07-01              90.0
24 2022-08-01              90.0
25 2022-09-01              90.0
26 2022-10-01              90.0
27 2022-11-01              90.0
28 2022-12-01              90.0
29 2021-01-01              40.0
30 2021-02-01              40.0
31 2021-03-01              40.0
32 2021-04-01              40.0
33 2021-05-01              40.0
34 2021-01-01              75.0
35 2021-02-01              75.0
36 2021-03-01              75.0
37 2021-04-01              75.0
38 2021-05-01              75.0
39 2021-06-01              75.0